.main__button {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 11px;
  column-gap: 11px;
  width: 350px;
  height: 70px;
  border-radius: 50px;
  margin-top: 96px;
    background-color: #5b75a6;

}

.main__button:hover {
  cursor: pointer;
}

.main__button:disabled {
  background-color: #181a1b;
  cursor: default;
}

.blue {
  background-color: #5b75a6;
}

.green {
  background-color: #115c39;
}

@media (max-width: 767px) {
  .main__button {
    max-width: 350px;
    width: 100%;
    margin-top: 3vmax;
  }
}
