

.main__photoImg {
  width: 200px;
  height: 200px;
  border-radius: 75px;
}

.main__photoImg:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  

  .main__photoImg {
    width: 100px;
    height: 100px;
    border-radius: 35px;
  }
}
