.loader {
  position: absolute;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 74px;
  color: #000;
  font-size: calc(15px + 39 * ((100vw - 320px) / 1600));
  text-align: center;
  margin-top: 77px;
}

.main__info {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #000;
  font-size: calc(14px + 34 * ((100vw - 320px) / 1600));
  text-align: center;
  max-width: 711px;
  width: 100%;
  margin-top: 77px;
}

.main__linkSignIn {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #5b75a6;
  font-size: calc(15px + 15 * ((100vw - 320px) / 1600));
  margin-top: 11px;
}

.main__linkSignIn:hover {
  cursor: pointer;
  color: #5b75a6e7;
}

.main__buttonTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  color: #fff;
  font-size: calc(14px + 16 * ((100vw - 320px) / 1600));
}

@media (max-width: 767px) {
  .main__bg {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .main__title {
    margin-top: 3vmax;
    line-height: 30px;
  }

  .main__info {
    line-height: 35px;
    margin-top: 3vmax;
  }

  .main__buttonTitle {
    line-height: 25px;
  }
}
