.about {
  margin-top: 70px;
}

.about__container {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
}

.about__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 2vmax;
}

.about__info_title {
  display: flex;
  -moz-column-gap: 46px;
  column-gap: 46px;
  justify-content: center;
  margin-top: 77px;
  align-items: center;
}

.about__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #000;
  font-size: calc(21px + 9 * ((100vw - 320px) / 1600));
}

.about__user_bg {
  background-color: #f1efe5;
  border-radius: 50px 50px 0px 0px;
  margin-top: 54px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 80vh;
}

.about__user_container {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
}

.about__user_row {
  padding: 2vmax;
  padding-top: 40px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

.about__user_info {
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 30px;
}

.about__user_info_main {
  display: flex;
  -moz-column-gap: 54px;
  column-gap: 54px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  flex: 0 0 60%;
}

.about__user_info_main_photo {
  width: 120px;
  height: 120px;
  border: 1.875px solid rgba(0, 0, 0, 0.2);
  border-radius: 35px;
}

.about__user_info_username {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.about__username {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  color: #000;
  font-size: calc(21px + 21 * ((100vw - 320px) / 1600));
}

.about__logname {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: #333;
  font-size: calc(21px + 9 * ((100vw - 320px) / 1600));
}

.about__user_button_follow {
  max-width: 300px;
  width: 100%;
  min-width: 150px;
  height: 70px;
  border: 6px solid #5b75a6;
  border-radius: 45px;
  background: unset;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #5b75a6;
  font-size: calc(21px + 9 * ((100vw - 320px) / 1600));
}

.about__user_bio {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex:  0 0 60%;
}

.about__user_bio_info {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #333;
  font-size: calc(21px + 9 * ((100vw - 320px) / 1600));
  text-align: justify;
}

.about__user_subscripe {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 40%;
}

.about__user_subscripe_info {
  background: #ffffff;
  border-radius: 30px;
  max-width: 411.6px;
  width: 100%;
  height: 114px;
  display: flex;
  -moz-column-gap: 40px;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 1vmax;
}

.about__user_followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
}

.about__user_followers_count {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  color: #333;
  font-size: calc(21px + 21 * ((100vw - 320px) / 1600));
}

.about__user_followers_title {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: #333;
  font-size: calc(21px + 9 * ((100vw - 320px) / 1600));
}

.about__user_following {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
}

.about__user_following_count {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  color: #333;
  font-size: calc(21px + 21 * ((100vw - 320px) / 1600));
}

.about__user_following_title {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: #333;
  font-size: calc(21px + 9 * ((100vw - 320px) / 1600));
}

@media (max-width: 1259px) {
  .about__user_row {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .about__user_info_main {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .header__logo {
    width: 100px;
  }

  .header__user {
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
