.rooms__listItem {
  max-width: 450px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #5b75a6;
  border-radius: 35px;
  padding: 22px 47px 24px 47px;
}

.rooms__listItemTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  font-size: calc(20px + 22 * ((100vw - 320px) / 1600));
}

.rooms__listItemLogoUsers {
  margin-top: 6px;
  display: flex;
  -moz-column-gap: 16px;
  column-gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.rooms__listImgUser {
  display: flex;
  gap: 16px 9px;
  width: 116px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rooms__listImgUserAvatar {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.rooms__listItemUsers {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.rooms__listItemUsersBlock {
  display: flex;
  -moz-column-gap: 5px;
  column-gap: 5px;
  align-items: center;
}

.rooms__listItemUsersBlock svg {
  fill: #fff;
}

.rooms__listItemUsersName {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
}

.rooms__listItemCountUser {
  display: flex;
  -moz-column-gap: 19px;
  column-gap: 19px;
  margin-top: 16px;
  justify-content: flex-end;
}

.rooms__listItemCountUserRooms {
  display: flex;
  -moz-column-gap: 5px;
  column-gap: 5px;
  align-items: center;
}

.rooms__listItemCountUserRooms svg {
  fill: #fff;
}

.rooms__listItemCountUserRoomsTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  font-size: calc(10px + 5 * ((100vw - 320px) / 1600));
}

.rooms__listItemCountUserVoice {
  display: flex;
  -moz-column-gap: 5px;
  column-gap: 5px;
  align-items: center;
}

.rooms__listItemCountUserVoice svg {
  fill: #fff;
}

.rooms__listItemCountUserVoiceTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  font-size: calc(10px + 5 * ((100vw - 320px) / 1600));
}

@media (max-width: 767px) {
  .rooms__listItem {
    padding: 2vmax;
  }

  .rooms__listItemTitle {
    text-align: center;
  }

  .rooms__listItemLogoUsers {
    justify-content: center;
  }

  .rooms__listImgUser {
    justify-content: center;
  }
}
