.main__bg {
  max-width: 1300px;
  width: 100%;
  max-height: 720px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 74px;
  color: #000;
  font-size: calc(15px + 39 * ((100vw - 320px) / 1600));
  text-align: center;
  margin-top: 77px;
}

.main__info {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #000;
  font-size: calc(14px + 34 * ((100vw - 320px) / 1600));
  text-align: center;
  max-width: 711px;
  width: 100%;
  margin-top: 45px;
}

 .form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main__photoSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.main__photoPlaceholder {
  width: 200px;
  height: 200px;
  background: #c4c4c4;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 74px;
  color: #000;
  font-size: calc(30px + 24 * ((100vw - 320px) / 1600));
  margin-top: 65px;
}

.main__photoName {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  color: #000;
  font-size: calc(15px + 27 * ((100vw - 320px) / 1600));
  margin-top: 11px;
}

.main__photoInput {
  display: none;
}

.main__photoInputCastom {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #5b75a6;
  font-size: calc(15px + 27 * ((100vw - 320px) / 1600));
  margin-top: 48px;
}

.main__photoInputCastom:hover {
  cursor: pointer;
}

.main__photoImg {
  width: 200px;
  height: 200px;
  border-radius: 75px;
}

.main__photoImg:hover {
  cursor: pointer;
}

.main__button {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 11px;
  column-gap: 11px;
  height: 70px;
  background: #5b75a6;
  border-radius: 50px;
  margin-top: 90px!important;
  width: 250px;
}

.main__button:hover {
  cursor: pointer;
  background: #5b75a6e7;
}

.main__buttonTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  color: #fff;
  font-size: calc(14px + 16 * ((100vw - 320px) / 1600));
}

.main__inputTel {
  max-width: 600px;
  width: 100%;
  height: 70px;
  background: #ffffff;
  border: 3px solid #000000;
  border-radius: 25px;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
  color: #000000;
  font-size: calc(20px + 22 * ((100vw - 320px) / 1600));
  margin-top: 45px;
}

.main form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main__inputNumber {
  display: flex;
  gap: 68px;
  margin-top: 96px;
}

.main__inputItem {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 74px;
  color: #000;
  font-size: calc(15px + 39 * ((100vw - 320px) / 1600));
  text-align: center;
}

.main__policy {
  max-width: 674px;
  width: 100%;
  text-align: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #55ab67;
  font-size: calc(15px + 15 * ((100vw - 320px) / 1600));
  margin-top: 30px;
}

@media (max-width: 767px) {
  .main__bg {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .main__title {
    margin-top: 3vmax;
    line-height: 30px;
  }

  .main__info {
    line-height: 35px;
    margin-top: 3vmax;
  }

  .main__photoPlaceholder {
    width: 100px;
    height: 100px;
    border-radius: 35px;
    margin-top: 3vmax;
  }

  .main__photoName {
    line-height: 37px;
  }

  .main__photoInputCastom {
    margin-top: 3vmax;
  }

  .main__photoImg {
    width: 100px;
    height: 100px;
    border-radius: 35px;
  }

  .main__button {
    max-width: 350px;
    width: 100%;
    margin-top: 3vmax;
  }

  .main__buttonTitle {
    line-height: 25px;
  }

  .main__inputTel {
    line-height: 35px;
  }

  .main__inputNumber {
    margin-top: 3vmax;
    gap: 50px;
  }

  .main__inputItem {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    line-height: 45px;
  }
}
