.main__photoImg {
  width: 200px;
  height: 200px;
  border-radius: 75px;
  background-size: cover;
}

.main__photoImg:hover {
  cursor: pointer;
}

.main__photoPlaceholder {
  width: 200px;
  height: 200px;
  background: #c4c4c4;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 74px;
  color: #000;
  font-size: calc(30px + 24 * ((100vw - 320px) / 1600));
}

@media (max-width: 767px) {
  .main__photoImg {
    width: 100px;
    height: 100px;
    border-radius: 35px;
  }

  .main__photoPlaceholder {
    width: 100px;
    height: 100px;
    border-radius: 35px;
  }
}
