.bg__login {
  background-color: #5b75a6;
}

.bg__white {
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 2vmax 2vmax;
}

.main__container {
  max-width: 1920px;
  margin: 0 auto;
}

.loader {
  position: absolute;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
